.search-icon {
    font-size: 20px;
    /* opacity: .5; */
    color: rgb(87 85 85);
    position: relative;
    top: 18px;
    right: 30px;
  }
  
  .act ::after  {
    color: #e69d1e;
  }
  
  .last-icons {
    color: red;
  }
  
  .brands {
    width: 20px !important;
  }
  
  .brands:hover {
    color: white;
    background-color: #E7C498;
  }
  
  #main-row {
    overflow: hidden;
  }
  
  .active-a:hover {
    background-color: blue !important;
  }
  
  .i-size {
    font-size: 22px;
    padding: 0px 28px 0px 28px;
  }
  
  .headerr-a {
    position: relative;
    /* margin-right: 10px; */
    margin-left: -25px;
    padding-top: 6px;
  }
  
  .photo-region {
    height: 100vh;
  }
  
  .border-class :hover {
    background-color: aliceblue;
    color: red;
  }
  
  /* header hiver color */
  .hover-items {
    text-decoration: none !important;
    color: black !important;
  }
  
  .hover-items :hover {
    background-color: yellow !important;
  }
  
  .icons-solid {
    font-size: 17vh;
    color: #E7C498;
  }
  
  /* header hover color */
  /* General styles */
  /* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; */
  /* } */
  .text-todisplay-1 {
    display: none;
  }
  
  .Foodies:hover+.text-todisplay-1 {
    display: block;
  }
  
  .Bird:hover+.text-todisplay-1 {
    display: block;
  }
  
  .Dog:hover+.text-todisplay-1 {
    display: block;
  }
  
  .Fish:hover+.text-todisplay-1 {
    display: block;
  }
  
  .Cat:hover+.text-todisplay-1 {
    display: block;
  }
  .last-icons {
    color: black;
  }
  
  .last-icons:hover {
    color: #E8B56F;
    background-color: #f4f0f0;
  }
  
  .my-button-1 {
    cursor: pointer;
    background-color: #F9F3EC;
    height: 14vh;
    width: 18vw;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .my-button-1:hover {
  
    background-color: black;
    color: white;
    transition: all 0.3s ease-in;
  }
  
  .my-button {
    cursor: pointer;
    background-color: #F6E7D2;
    height: 10vh;
    width: 16vw;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .Quote-icon {
    font-size: 144px;
    color: #DEAD6F;
    position: relative;
    margin: 50px 0px 0px 95px;
  }
  
  /* Hover effect */
  .my-button:hover {
    background-color: black;
    color: white;
    transition: all 0.3s ease-in;
  }
  
  .any-button {
    cursor: pointer;
    height: 10vh;
    width: 15vw;
    background-color: white;
  }
  
  .any-button:hover {
    background-color: black;
    color: white;
    transition: all 0.3s ease-in;
  }
  
  /* hoodie region-------------------------------------- */
  .hoodie-1 :hover {
    background-color: rgb(235, 223, 223);
    color: grey;
  }
  
  .hoodie-2 :hover {
    background-color: rgb(167, 167, 252);
    color: blue;
  }
  
  .hoodie-3 :hover {
    background-color: rgb(244, 210, 216);
    color: rgb(241, 124, 144);
  }
  
  .hoodie-4 :hover {
    background-color: #585552;
    color: #0F0D0A;
  }
  
  .hoodie-5 :hover {
    background-color: #efe5d3;
    color: #e69d1e;
  }
  
  .hoodie-6 :hover {
    background-color: rgb(216, 204, 30);
    color: yellow;
  }
  
  .overflow-class {
    overflow-x: scroll;
    scrollbar-width: none;
    /* overflow-x:hidden ; */
  }
  
  /* ---------------------------------------hoodie region */
  /* foodie region */
  .text-hover {
    color: black;
    border-bottom: 2px solid black;
    font-size: 20px;
    text-decoration: none;
  }
  
  .text-hover:hover {
    border-bottom: 2px solid #DEAD6F;
    /* display: none; */
  }
  
  /* foodie region */
  /* nav tabs bootstrap */
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
  }
  
  .nav-tabs .nav-link {
    margin-bottom: calc(-1* var(--bs-nav-tabs-border-width));
    border: var(--bs-nav-tabs-border-width) solid transparent;
    border-top-left-radius: var(--bs-nav-tabs-border-radius);
    border-top-right-radius: var(--bs-nav-tabs-border-radius);
  }
  
  .nav-tabs {
    --bs-nav-tabs-border-width: none !important;
  }
  /* nav tabs bootstrap */
  